


@using MyOnlineLibrary.Core.Models;
@{
    ViewBag.Title = "Home Page";
}


<div class="heder-index">
    <div class="heder-text">
        <h1 >My online Library</h1>
        <h3 class="slogan">
            " Streamline, Organize, and Liberate:
        </h3>
        <h3 class ="slogan-2">Unleash the Power of an Online Library for Your Books!"</h3>
    </div>
</div>

